<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon_dd }}"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Light Years // Dark Days</h1>
					<p>The year is 2350</p>
				</div>
			</div>
			<nav>
				<ul>
					{% for page in site.pages  %}
					{% if page.title %}
					{% if page.include_in_dd %}
					<!-- page.path is: {{ page.path }} -->
					<li><a href="https://deltaechoecho.github.io/darkdays/{{ page.title }}/">{{ page.title }}</a></li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
